<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>

  <!-- Meta tags & title /-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>How it works?</title>
  
  <!-- Favicon /-->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon" /> <!-- Favicon /-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Stylesheets /-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/gumby.css') }}">   			<!-- Gumby Framework /-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">   			<!-- Main stylesheet /-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}"> 			<!-- Animations /-->


  <script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>  <!-- Modernizr /-->

</head>


<body>

<!-- Preload the Whole Page -->

<div id="preloader">   		
<div id="loading-animation">&nbsp;</div>
</div>


<!-- NAVIGATION ############################################### -->
  <label for="menu-toggle" class="menu-toggle">
    <span class="hamburger"></span>
  </label>

  <input type="checkbox" id="menu-toggle" />

  <nav class="main-nav">
   <ul>
     <li><a href="/">Escape the retirement burden</a></li>
     <li><a href="buffett">Invest like Warren Buffet</a></li>
     <li><a href="methodology">How it works?</a></li>
   </ul>
  </nav>

    <div class="cbp-af-header">

      <nav >


         <!-- Logo -->

         <!-- <div id="logo">

          <a href="#"><img alt="Logo" src="{{ url_for('static', filename='img/logo.png') }}"></a>

         </div> -->

         <!-- Links -->

         <ul id="nav" >

           <li><a href="/">Escape the retirement burden</a></li>  
           <li><a href="buffett">Invest like Warren Buffet</a></li>
           <li><a href="methodology">How it works?</a></li>

         </ul>

      </nav>


    </div> 

<!-- END NAVIGATION ############################################### -->


<!-- HEADER / FIRST SECTION ############################################### -->


<section class="page1">

            <!-- Huge Title centered --> 

            <div class="huge-title centered">  

              <!-- <div class="logo-phone centered"><img alt="YOURLOGO" src="{{ url_for('static', filename='img/logo-phone.png') }}"></div>  <!-- This Logo is only displayed on Tablet/iPhone !-->   -->

              <h1>The most realiable investing philosophy</h1>

              <div class="space"></div>

              <button class="button-green" onclick="location.href='signup'">Sign Up Now</button>

              </div>

            <!-- IMG DISCOVER MORE --> 

            <div class="go-down twelve columns">

              <a href="#container" class="goto"><img src="{{ url_for('static', filename='img/down.png') }}" alt="MORE"></a>

            </div>

</section>


<!-- END HEADER ############################################### -->



<!-- BEGIN CONTAINER ############################################### -->


<div id="container" class="container">


<!-- SECOND SECTION ############################################### -->

  

<section class="page2">

  <div class="row">

        <div class="six columns article make-it-appear-right">

          <div class="five columns make-it-appear-left phone-img" >

            <img src="{{ url_for('static', filename='img/method1.png') }}" alt="EXEMPLE">

          </div>

          <!-- Title --> 

          <h3>What is Value Investing?</h3>

          <!-- Content --> 

          <p>Value investing is a time-tested investment strategy that focuses on buying stocks that are trading for less than their true, or intrinsic, value. Pioneered by Benjamin Graham, the Father of Value Investing and validated by Warren Buffet, the Oracle of Omaha” this approach prioritizes in-depth analysis of a company's fundamentals to spot stocks that are overlooked or undervalued by the market.</p>

          <div class="space"></div>


        </div>

        <!-- Image from right --> 

        <div class="five columns picture make-it-appear-left" >

          <img src="{{ url_for('static', filename='img/method1.png') }}" alt="EXEMPLE">

        </div>

      </div> <!-- End row div -->    

</section>

<!-- END SECOND SECTION ############################################### -->



<!-- third SECTION ############################################### -->


<section class="page3" >

  <div class="row">

        <!-- Image from left --> 

        <div class="five columns picture make-it-appear-right" >

          <img src="{{ url_for('static', filename='img/method2.png') }}" alt="EXEMPLE">

        </div>
    <div class="five columns make-it-appear-left phone-img" >

      <img src="{{ url_for('static', filename='img/method2.png') }}" alt="EXEMPLE">

    </div>


        <div class="six columns article make-it-appear-left">

          <!-- Title --> 

          <h3>Why Value Investing?</h3>

          <!-- Content --> 

    <p>- Focus on Fundamentals: Value investing focuses on analyzing a company's financial health and stability, rather than relying on market trends or speculation.</p>
    <p>- Margin of Safety: Value investors aim to buy stocks at a significant discount to their intrinsic value, providing a buffer against potential market fluctuations.</p>
    <p>- Long-term Returns: Value investing emphasizes a long-term perspective, recognizing that ultimately the market price will reflect the true value of a solid company.</p>


          <div class="space"></div>

          </div>


      </div> <!-- End row div -->    
</section>

<!-- END third SECTION ############################################### -->



<!-- FOURTH SECTION ############################################### -->



<section class="page2">

  <div class="row">


          <!-- Title --> 

          <h3>Key criteria</h3>

          <!-- Content --> 

          <p>Graham's classic book, "The Intelligent Investor," offers a framework for conservative investors to identify value stocks:</p>
          <p>- Company Size (marketcap): Look for established, large-cap companies with a history of stability.</p>
          <p>- Strong Financial Position (health): Companies with a healthy current ratio (assets vs. liabilities) are better equipped to weather short-term challenges.</p>
          <p>- Consistent Earnings (growth): Prioritize companies that have demonstrated a solid track record of positive earnings over the years.</p>
          <p>- Uninterrupted Dividends (dividends): Choose businesses with a consistent history of paying dividends to shareholders over a long period.</p>
          <p>- Price-to-Asset Ratio (Graham number): Analyze the company's stock price relative to its book value.</p>


          <div class="space"></div>



      </div> <!-- End row div -->    

</section>


<!-- END FOURTH SECTION ############################################### -->

  <!-- fifth SECTION ############################################### -->


  <section class="page2">

    <div class="row">

          

            <!-- Title --> 

            <h3>Graham defined two main types of investors:</h3>

            <!-- Content --> 

            <p>- Enterprising Investors: actively engaged, they dedicate time and effort to thoroughly analyze companies, studying financial statements, industry trends, and management track records. They seek out undervalued stocks with strong growth potential, believing the hard work can lead to returns that outpace the overall market. Enterprising investors understand that greater research can provide an edge, but they are also comfortable with a degree of calculated risk</p>
            <p>- Defensive Investors: these investors prefer minimizing effort and potential losses. They may not have the time or inclination for in-depth research and are content with returns that match the market average. Defensive investors often favor simple strategies like investing in index funds, which track entire market segments, providing broad diversification and a lower-risk approach.</p>

            <div class="space"></div>

            


        </div> <!-- End row div -->    

  </section>

  <!-- END fifth SECTION ############################################### -->


  <!-- sixth SECTION ############################################### -->


  <section class="page3" >

    <div class="row">

          <!-- Image from left --> 

          <div class="five columns picture make-it-appear-right" >

            <img src="{{ url_for('static', filename='img/method4.png') }}" alt="EXEMPLE">

          </div>
      <div class="five columns make-it-appear-left phone-img" >

        <img src="{{ url_for('static', filename='img/method4.png') }}" alt="EXEMPLE">

      </div>


          <div class="six columns article make-it-appear-left">

            <!-- Title --> 

            <h3>Which one fetches you better?</h3>

            <!-- Content --> 

            <p>Graham wasn't saying one approach is better than the other. It's about what suits your personality, goals, and resources. If you enjoy the challenge of analysis and have the time to commit, the enterprising path could offer higher potential gains. If you want a hands-off approach and prefer steady, predictable returns, the defensive style aligns better with your needs.

            Many think they can be enterprising investors but lack the dedication or find they're better suited to a defensive strategy. There's no shame in keeping things simple! In fact, Graham and Buffett both acknowledged that consistently matching the market average is a feat in itself. </p>

            <div class="space"></div>



        </div> <!-- End row div -->    
  </section>

  <!-- END sixth SECTION ############################################### -->



  <!-- Modal Window --> 

  <div class='modal' id='modal'>

      <div class='modal-content modal-anim--three'>

      <iframe src="//player.vimeo.com/video/64291127?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="560" height="306" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      </div>

  </div>



  <!-- seventh SECTION ############################################### -->



  <section class="page4">

    <div class="row">

          <div class="four columns article make-it-appear-right">

            <!-- Title --> 

            <!-- <h3>unused</h3> -->
            <div class="five columns make-it-appear-left phone-img" >

              <img src="{{ url_for('static', filename='img/email.jpeg') }}" alt="EXEMPLE">

            </div>

            <!-- Content --> 

            <p>Oracle of Omaha eliminates the guesswork from stock selection. Our sophisticated algorithm meticulously scans every single stock in the S&P 500, comparing them against the most crucial criteria for long-term success.  Each day, you'll receive a curated email with a select list of promising stocks, their individual scores in each category, and an overall rating.</p>

            <div class="space"></div>


          </div>

      <!-- Image from right --> 

      <div class="five columns picture make-it-appear-left" >

        <img src="{{ url_for('static', filename='img/email.jpeg') }}" alt="EXEMPLE">

      </div>


          </div>
  </pre>

          </div>

        </div> <!-- End row div -->    

  </section>


  <!-- END seventh SECTION ############################################### -->


<!-- eighth SECTION ############################################### -->


<section class="page5">


        <div class="row">

          <!-- Article centered on the Page --> 

        <div class="twelve columns centered make-it-appear-top">

          <!-- Title --> 

          <h4>Try Oracle of Omaha and see how easy it is to invest guided by the greatest investor of all times.</h4>

          <!-- Content --> 

          <div class="space"></div>

          <button class="button-green" onclick="location.href='signup'">Sign Up Now</button>

          </div>



        </div>


        </div>


</section>


<!-- END eighth SECTION ############################################### -->


<!-- FOOTER SECTION ############################################### -->


<section class="footer">


        <div class="row">

          <!-- Article centered on the Page --> 

        <div class="nine columns centered">

          <!-- Nav Footer --> 

            <ul> 
              <li><a href="terms">Terms and conditions</a> </li>
              <li> <a href="http://www.baribal.be/showpage/dl/">About us</a> </li>
            </ul>

            <!-- Title --> 

            <p class="copyright">© Copyright 2024 Oracle of Omaha. All rights reserved.</p>


        </div>


        </div>


</section>


<!-- END FOOTER SECTION ############################################### -->





</div> <!-- end of container -->


  <!-- Grab Google CDN's jQuery, fall back to local if offline -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"><\/script>')</script>

  <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script> 								<!-- Main Javascript File -->
  <script src="{{ url_for('static', filename='js/classie.js') }}" type="text/javascript"></script> 								<!-- Scroll from left & right -->
  <script src="{{ url_for('static', filename='js/waypoints.min.js') }}" type="text/javascript"></script>						<!-- Waypoints -->
  <script src="{{ url_for('static', filename='js/jquery.scrollto.js') }}" type="text/javascript"></script> 						<!-- ScrollTo -->	
  <script src="{{ url_for('static', filename='js/mediaCheck.js') }}" type="text/javascript"></script> 							<!-- MediaCheck -->	



  <!-- Change UA-XXXXX-X to be your site's ID -->
  <!--<script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>  -->

  </body>

</html>
